.footer {
  background: #020617;
  padding: 30px;
  text-align: center;

  p {
    margin-bottom: 10px;
    color: #94a3b8;
  }

  .links a {
    margin: 0 12px;
    color: #38bdf8;

    &:hover {
      text-decoration: underline;
    }
  }
}
